---
import MainLayout from "../layouts/MainLayout.astro"
import Parallax from "../components/Parallax.astro"

---
<MainLayout>
    <Parallax >
     <h1>About</h1>    
      <h2>About2</h2>
      <h3>About3</h3>
      <h4>About4</h4>
      <h5>About5</h5>
    </Parallax>
    </MainLayout>

