---
import MainLayout from "../layouts/MainLayout.astro"
import Parallax from "../components/Parallax.astro"

---
<MainLayout>
  <head> 
    <title>About</title>
  </head>
  <figure><Parallax /></figure>
  <h1>About</h1>    
   <img>
  
    </body>
    </MainLayout>

