---
import MainLayout from "../layouts/MainLayout.astro"
import Slideshow from "../components/Slideshow.astro"
---
<MainLayout>
    <h1>Galleries</h1>
    <section><Slideshow></section>
    
</MainLayout>

