---
import MainLayout from "../layouts/MainLayout.astro"
import Image from "astro/components/Image.astro"
---
<MainLayout>
    <h1>Galleries</h1>
    <section><image src="https://ik.imagekit.io/hesc9etyf/Cody%20Portfolio%20Images/Full%20Size%20Images%205k+/Rooftop%20Photo.jpg?updatedAt=1715077155189"></image>
    </section>
</MainLayout>

