---
import MainLayout from "../layouts/MainLayout.astro"
const name ="Cody";
---

<MainLayout 
title="Cody L. Hall Portfolio Site" 
seoTitle="Cody L. Hall, photographer, develooper, portfolio gallery and resume" 
seoDesc="Portfolio made using Astro">
	<div class="w-8/12 md:w-6/12 mx-auto">
	<h1 class="text-5xl md:text-6xl text-center">Hey 👋, I am Cody L. Hall
		</h1></div>
</MainLayout>
	
