<div class="parallax-container">
    <div class="layer background" style="background-image: url('/public/assets/background.png');"></div>
    <div class="layer midground" style="background-image: url('/public/assets/midground.png');"></div>
    <div class="layer foreground" style="background-image: url('/public/assets/foreground.png');"></div>
  </div>
  