---
const 
---
<div class="grid grid-cols-1 md:grid-cols-2 gap-3">
    <div class="uk-position-relative uk-visible-toggle animation: push" tabindex="-1" uk-slideshow>
    <ul class="uk-slideshow-items">
        <li>
            <div class="">
                <img src="">
            </div>
        </li>
        <li>
            <div class="">
                <img src="">
            </div>
        </li>
        <li>
            <div class="">
                <img src="">
            </div>
        </li>
    </ul>
    <a class="text-white uk-position-center-left uk-position-small uk-hidden-hover" href uk-slidenav-previous uk-slideshow-item="previous"></a>
    <a class="text-white uk-position-center-right uk-position-small uk-hidden-hover" href uk-slidenav-next uk-slideshow-item="next"></a>
</div>